<section class="splash_page">
<h1 class= "main-title">Budget App</h1>
<div class= "splash_activities">
<%= link_to 'Log-in', user_session_path, class: 'login-button' %>
</div>

<%= link_to 'Sign up', new_user_registration_path, class: 'button_sign-in'%>
</section>