<section class="splash-page">
<h1 class= "tittle_app">MoneyWallet</h1>
<div class= "splash-actions">
<%= link_to 'Log-in', user_session_path, class: 'sign-in-btn' %>
</div>

<%= link_to 'Sign up', new_user_registration_path, class: 'sign-in-btns'%>
</section>