/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

:root {
  --header-height: 3.438rem;
  --footer-height: 2.813rem;
}

@font-face {
  font-family: "Proxima Nova Light";
  src: url("proxima_nova.ttf");
}

.alert,
.notice {
  margin: 0;
}

.main-title {
  margin-bottom: 90px;
}

.splash_page {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.splash_page .splash_activities {
  margin-bottom: 12px;
}

footer a {
  color: rgb(255, 255, 255);
  font-weight: 600;
  text-decoration: none;
}

.splash_activities a {
  display: flex;
  flex-direction: column;
  background: rgb(55, 120, 194);
  justify-content: center;
  width: 192px;
  height: 48px;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.button_sign-in {
  color: rgb(67, 75, 84);
  text-decoration: none;
}

body {
  color: rgb(67, 75, 84);
  font-family: "Proxima Nova Light", "Lato", sans-serif;
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: var(--header-height);
  background-color: rgb(55, 120, 194);
  color: rgb(255, 255, 255);
  width: 100%;
  align-items: center;
}

header * {
  margin: 0;
}

.login-button {
  display: inline-flex;
  border: none;
  text-decoration: none;
  color: rgb(67, 75, 84);
  background: rgb(67, 75, 84);
  text-align: center;
  height: 30px;
  border-radius: 5px;
  font-size: 0.938rem;
  cursor: pointer;
}

.danger {
  background: rgb(255, 69, 0);
  color: rgb(255, 255, 255);
}

main {
  display: flex;
  position: fixed;
  flex-flow: column;
  top: calc(var(--header-height) + 15px);
  bottom: var(--footer-height);
  left: 0;
  right: 0;
  background-color: white;
}

footer {
  display: flex;
  position: fixed;
  flex-flow: row;
  justify-content: center;
  height: var(--footer-height);
  background: rgb(95, 181, 35);
  bottom: 0;
  right: 0;
  left: 0;
  align-items: center;
  align-content: center;
}

.category-container {
  display: flex;
  width: 100%;
  text-decoration: none;
}

.category-div {
  display: flex;
  width: calc(100% - 1rem);
  align-items: center;
  padding: 0.625rem;
}

.category-div .icon {
  width: 4.375rem;
  border-radius: 0.25rem;
  height: 4.375rem;
}

.category-div .details {
  display: inline-flex;
  min-width: calc(100% - 5.625rem);
  padding-left: 0.375rem;
  height: 4.063rem;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 0.75rem;
  color: rgb(67, 75, 84);
}

.category-div .details .category-top {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}

.category-div .details .category-top .category_name {
  margin: 0;
  font-size: 1rem;
}

.category-div .details .category-top .category_total {
  font-weight: 900;
  font-size: 1.125rem;
  color: rgb(67, 75, 84);
}

.category-div .details .category-bottom {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin-bottom: -0.375rem;
}

/* .category-div .details .category-bottom  button.btn {
  padding: 2px 5px;
  height: min-content;
  background: #fff !important;
  color: #ff4500 !important;
  border-radius: 2px;

} */

.category-div .details time {
  display: inline-flex;
  align-items: center;
  align-content: center;
  font-weight: 500;
  font-size: 0.875rem;
}

/* .new_category .new_transaction {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;

} */

.actions input {
  margin: auto;
  background-color: rgb(55, 120, 194);
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.input_container select,
.new_category .category-input input,
.new_transaction .input-fields input,
.authentication_form .field input:not([type="checkbox"]) {
  display: flex;
  height: 2rem;
  padding: 0.25rem;
  border-radius: 0.313rem;
  width: 100%;
  margin-top: 10px;
  border: 1px solid rgb(67, 75, 84);
  color: rgb(67, 75, 84);
  background: rgb(255, 255, 255);
}

.back-button {
  display: inline-flex;
  padding: 6px;
  border: none;
  text-decoration: none;
  color: rgb(67, 75, 84);
  background-color: rgb(255, 255, 255);
  align-items: center;
  align-content: center;
  height: 1.875rem;
  border-radius: 0.313rem;
  margin-top: 0;
  margin-left: 5px;
  font-size: 0.875rem;
  cursor: pointer;
}

.authentication_form .field,
.new_transaction .input-fields,
.new_category .input-fields {
  width: 100%;
}

.authentication_form,
.input_container {
  width: 95%;
  flex-direction: column;
  display: flex;
  margin: 0 auto;
  padding: 0.25rem;
}

.authentication_form .field input::placeholder,
.new_transaction .input-fields input::placeholder,
.new_category .input-fields input::placeholder {
  font-size: 0.813rem;
  font-family: "Proxima Nova Light", "Lato", sans-serif;
  font-weight: bold;
  letter-spacing: 0.063rem;
}

.actions .transaction_button {
  background-color: rgb(55, 120, 194);
  height: 1.875rem;
  border-radius: 0.313rem;
  border: none;
}

#transactions .transaction {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(204, 204, 204);
  padding: 0.313rem;
}

.authentication_form h2 {
  text-align: center;
}

.authentication_form .actions {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 5px;
}

.auth-links {
  display: flex;
  flex-flow: column;
  width: 95%;
  margin: 0.625rem auto;
  gap: 0.313rem;
}

.auth-links a {
  color: rgb(67, 75, 84);
  text-decoration: none;
  font-size: 0.813rem;
}

.auth-links a:hover {
  color: rgb(55, 120, 194);
}
