<header>
<h1>MoneyWallet</h1>
<%= button_to "Logout", destroy_user_session_path, method: :delete, data: {turbo: false}, class: "btn bg-danger"  %>
</header>

<main>
 <% if @categories.any? %>
  <% @categories.each do |category| %>
  <%= link_to render(category), category_transactions_path(category), class: 'category_wrapper'%> 
<% end %> 
 <% else %>
 <p style="margin-top: 50px; text-align:center; color: orange; font-weight:bold;">
    There is no category added yet!
  </p>
<% end %>
</main>

<footer>
<%= link_to "Add a new category", new_category_path %>
</footer>