<p style="color: green"><%= notice %></p>

<%= render @transaction %>

<div>
   <%= link_to "Edit this transaction", edit_category_transaction_path %> |
  <%= link_to "Back to transactions", category_transactions_path %>
</div>
